*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 1rem;
   background-color: rgba(0, 0, 0, 0.724);
}
.radfone{
    overflow: hidden;
    height: 700px;
    width: 360px;
    border: 1px solid #224378;
    border-radius: 15px;
    position: relative;
    background-image: url(./images/reebok.jpg);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 2px 2px #224378;;
}
.cameradiv{
    height: 1.4rem;
    width: 7rem;
    background-color: black;
    margin-left: 8rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.camm{
    font-size: 8.1rem;
   position: absolute;
  margin-top: -8rem;
  color: #211e1e;  
}
/* .cammm{
    font-size: 8rem;
    position: absolute;
    margin-left: 4rem;
    margin-top: -6.1rem;
    color: #211e1e;  
} */
.batterydiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    float: right;
    margin-top: -1.8rem;
    padding: 1rem;
    color: #fff;
}
.staySafe{
    padding: 1rem;
}
.battery {
   font-size: 1.4rem;
}
.cell{
    font-size: 1rem;
}
.lte{
    font-size: 0.8rem;
}
.leftside p{
    margin-top: -1.5rem;
    padding: 0.5rem;
    color: #fff;
}
.dateAndTime{
    padding-top: 2rem;
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
 
}
.date{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.time{
    font-size: 4rem;
}
.flashCamDiv{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 6rem;
    justify-content: space-between;
   position: absolute;
   bottom: 0;
   color: #fff;
   border: none;
}
.flashCamDiv button{
    background: none;
    border: none;
}
.flashlight, .cam {
    border: none;
    background-color: #222;
   border-radius: 50%;
    height: 2rem;
    color: #fff;
    width: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.flashlight{
    transform: rotate(-45deg);   
}
.menubtn{
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.2rem;
    transition: all 0.5s ease;
}
.menubtn:hover{
    transform: scale(1.1);
}
#rad{
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.cam:hover{
    background-color: #fff;
    color: #222; 
}

.whiteMode{
    background-color: #fff;
}
.darkMode{
    background-color: #000;
}
.apps{
    padding: 1rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2.2rem;
  overflow-y: scroll;
}
.appsDiv{
    overflow-y: scroll;
}
.icon{
    color: rgb(174, 64, 64);
    font-size:2rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    /* position: relative; */
}
.icon:hover{
    background-color: #22222264;
}
.tiktok{
    background-color: black;
    color: white;
}
.whatsapp{
    background-color: rgb(86, 185, 50);
    color: white;  
}
.mail{
    background-color: white;
    color: red;
}
.facebook{
    background-color: rgba(0, 0, 255, 0.695);
    color: white;
}
.discord{
    background-color: #7289da;
    color: white;
}
.yahoo{
    background-color: #720e9e;
    color: white;
}
.file{
    background-color: white;
    color:rgba(0, 0, 255, 0.695);   
}
.cameraout{
    background-color: #2222227f;
    color:black; 
}
.applelogo{
    background-color:black;
    color:white; 
}
.clock{
    background-color:black;
    color:white;
}
.appstore{
    background-color: #0084c5;
    color:white;
}
.navigate{
    background: linear-gradient(to right, pink ,green, yellow, white);
    color: rgba(0, 0, 255, 0.449);
}
.calendar{
    background-color: white;
    color: black;
}
.instagram{
    background: linear-gradient(to right,rgb(255, 0, 0), rgb(255, 255, 0), rgb(128, 0, 128));
    color: white; 
}
.bitcoin{
    background-color: black;
    color: yellow;
}
.chrome{
    background-color: white;
    color: rgba(255, 0, 0, 0.738);
}
.tik{
    display: block;
}
.settings{
    background-color: #2222227f;
    color: black;
}
.call{
    background-color: rgba(0, 128, 0, 0.832);
    color: white;
}
.wechat{
    background-color: rgba(0, 128, 0, 0.832);
    color: white;
    position: relative;

}
.music{
    background-color: rgba(255, 0, 0, 0.852);
    color: white
}
.iconText{
    color: white;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}
.bottomNav{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;

}
.nav{
    position: relative;
    background-color: #1c21239d;
    border-radius: 10px;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 1rem; */
}
.nav button{
    border: none;
    background: none;
    cursor: pointer;
}
.callNavDiv{
    position: absolute;
    bottom: 0;
}
.navCallSection{
    background-color: #222;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 2rem;
}
.navCallSection button{
    border: none;
    background: none;
}
.callIcon{
    font-size: 1.5rem;
    color: #6c6b6b;
    cursor: pointer;
    transition: all 0.5s ease;
}
.callIcon:hover{
    color: #fff;
}
.navspan{
    text-align: center;
    color: #6c6b6b;
}
.keypadDiv{
  padding: 4rem;
  padding-top:3rem;
    color: white;
    position: relative;
}
.keypadDiv input{
    width: 100%;
    border: none;
    /* outline:none; */
    background-color: black;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
.inputDiv{
   margin: -3.5rem 0rem 3rem 0rem;
}
.save{
    text-align: center;
    color: rgb(16, 149, 231);
    font-size: 1rem;
    display: none;
}
.numbers{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
    color: white;
   
}
.numbers button{
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.numbers p{
    font-size: 1.5rem;
}
.numbers span{
    font-size: 0.8rem;
}
.number{
    background-color: #424040;
    color: #fff;
}
.dialdiv button{
    height: 4rem;
    width: 4rem; 
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(72, 195, 72, 0.772);
    color: #fff;
    cursor: pointer;
}
.callndel{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    margin:1.2rem 0 0 5.2rem;
}
.deldiv button{
    border: none;
    background: none;
    color: white;
    font-size: 1.6rem;
}
.btn-del{
    display: none;
}
.num{
    color: white;
}

.recentDiv{
    padding: 0.5rem 1rem;
    border-top: 1px solid rgb(55, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logs{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.logs button{
    border: none;
    color: white;
    background-color: gray;
    padding: 0.3rem;
    border-radius: 5px;
}
.logsDiv{
    padding: 1rem;
}
.logsDiv h3{
    color: white;
    font-size: 1.5rem;
}
.TimeAndDate{
    color: white;
    font-size: 1rem;
}
.callLog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time, .date{
    font-size: 1rem;
}
.outgoing{
    color:green;
    font-size: 1rem;
}
.numWrap{
    display: grid
}
.modal{
    padding: 1rem;
    color: white;
    display: none;
    width: 100%;
    position: absolute;
    top: -5%;
}
.modal-body{
    color: black;
    text-align: center;
}
.modal-body h3{
    color: #000;
    font-size: 2rem;
}
.modal-body input{
    background-color: white;
    border-bottom: 1px solid gray;
    color: rgb(45, 44, 44);
    text-align: left;
}
.modal-body input::placeholder{
    font-size: 1rem;
    text-align: left;

}
.modal-body .user{
    font-size: 2rem;
}
.contactsDiv {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: white;
  padding:0 0.5rem;
}
.contacts{
    display: flex;
   align-items: center;
   gap: 1rem;
   justify-content: space-between;

}
.con{
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}
.contactBtn{
    border: none;
    background: none;
    color: white;
    display: none;
    color: red;
    cursor: pointer;
}
.edit{
    color: lightblue;
    cursor: pointer;
}

.contactHead{
    display: flex;
    align-items: center;
   gap: 10rem;
   
}

/* calculator */
  div input {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    color: #000000;
    outline: none;
    pointer-events: none;
    font-size: 1.5rem;
    text-align: right;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  .calculator {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.813);
    padding: 1rem 0.5rem;
    /* border-radius: 10px; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.045);
  }
  .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 60px;
    font-size: 30px;
    flex: 0 0 30%;
    margin: 10px 0;
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
  }
  .btn-yellow {
    background-color: rgb(254, 167, 15);
  }
  .btn-grey {
    background-color: rgba(241, 237, 237, 0.847);
    color: black;
  }
  .btn-equal {
    background-color: rgba(0, 128, 0, 0.74);
    color: black;
  }
  .btn-clear {
    background-color: rgba(208, 21, 21, 0.737);
    color: black;
  }
  
  /* span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.542);
  } */
  .homeLine{
    background-color: #fff;
    color: #fff;
    height: 2px;
    width: 200px;
    margin-left: 4.5rem;
    position: absolute;
    bottom: 1%;
    margin-top: 0.5rem;
    
  }

  /* clock */
  .clockDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vh;
    margin-left: 3.5rem;
    background: linear-gradient(to bottom, red, green);
    /* padding: 1rem 0 1rem 1rem; */
    font-size: 2rem;
    border-radius: 10px;
   width: 70%;
  }
 